body {
    background-color: rgb(230, 230, 230);
}

/* *****box1 */
.box1 {
    /* border: 1px solid red; */
    display: flex;
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}

.title {
    margin-left: 50px;
}

.title1 {
    font-family: "PT Sans";
    font-weight: 700;
    color: #222;
    font-size: 2.7em;
    letter-spacing: .05em;
    line-height: 1.02;
}

.image1>img {
    width: 450px;
    border-radius: 15px;
    padding: 10px;
}

.Description {
    color: #222;
    font-family: PT Sans, sans-serif;
    letter-spacing: .02em;
    font-weight: 400;
    line-height: 1.45;
    font-size: 18.2px;
}

.PriceRange {
    font-family: "PT Sans";
    font-size: 28px;
    color: #98cb4c;
    /* border: 1px solid red; */
}

.price {
    font-family: "PT Sans";
    font-size: 53.6px;
    color: red;
    /* border: 1px solid red; */
    margin-bottom: 5px;
}

.button {

    /* border: 1px solid red; */
    /* margin-top: -25%; */
    display: flex;

}

.btn1 {

    /* margin-right: 7px; */

    font-size: x-large;
    background-color: rgb(227, 222, 222);
    border: 0px;
    background-color: white;
}

.btn2 {

    /* margin-left: 2px; */

    margin-right: 10px;
    font-size: x-large;
    background-color: rgb(227, 222, 222);
    border: 0px;
    background-color: white;

}

.btn3 {
    border-radius: 10px;
    border: 0px;
    background-color: white;
}

.count {
    /* border: 1px solid black; */
    width: 5%;
    text-align: center;
    background-color: white;
}

/* *****box2 */

.box2 {
    border: 1px solid red;
    display: flex;
    width: 75%;
    margin: auto;
}

.innerimg1>img {
    width: 450px;
    border-radius: 15px;
    padding: 10px;
}
.innerTitle1{
    border: 1px solid red;
    margin: auto;
    text-align: center;
    width: 400px;
}
.innerTitle1-1{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* *****box3 */

.box3 {
    border: 1px solid red;
    display: flex;
    width: 75%;
    margin: auto;
}


/* *****box4 */

.box4 {
    border: 1px solid red;
    display: flex;
    width: 75%;
    margin: auto;
}