.navbar-container {
  display: flex;
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  justify-content: space-around;
  background-color: #eeeeea;
  padding:0.9rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo > img {
  width: 35%;
}
